[package]
name = "mun"
version = "0.1.0"
authors = ["Bas Zalmstra <bas@abbeygames.com>"]
edition = "2018"

[dependencies]
failure = "0.1.5"
clap = "2.33.0"
mun_compiler = { path = "../mun_compiler" }
mun_compiler_daemon = { path = "../mun_compiler_daemon" }

[build-dependencies]
lazy_static = "1.4.0"
semver = "0.9.0"
regex = "1.3.1"
