[package]
name = "mun_runtime"
version = "0.1.0"
authors = ["Wodann <remco.kuijper@gmail.com>"]
edition = "2018"

[dependencies]
failure = "0.1.5"
libloading = "0.5"
mun_abi = { path = "../mun_abi" }
notify = "4.0.12"
parking_lot = "0.9"
tempfile = "3"

[dev-dependencies]
mun_compiler = { path="../mun_compiler" }
