[package]
name = "mun_hir"
version = "0.2.0"
authors = ["The Mun Team <team@mun-lang.org>"]
edition = "2018"

[dependencies]
salsa="0.12"
superslice = "1.0"
mun_syntax={path="../mun_syntax"}
rustc-hash = "1.0"
once_cell = "0.2"
relative-path = "0.4.0"
ena = "0.13"
drop_bomb = "0.1.4"
either = "1.5.3"

[dev-dependencies]
insta = "0.12.0"
