[package]
name = "mun_compiler_daemon"
version = "0.2.0"
authors = ["The Mun Team <team@mun-lang.org>"]
edition = "2018"
homepage = "https://mun-lang.org"
repository = "https://github.com/mun-lang/mun"
license = "MIT OR Apache-2.0"
description = "Functionality for continuously monitoring Mun source files for changes and triggering recompilation"

[dependencies]
failure = "0.1.5"
mun_compiler = { path = "../mun_compiler" }
notify = "4.0.12"
